@import "tailwindcss";

@theme {
  /* Background Colors */
  --color-background: #101010;
  --color-background-secondary: #181818;
  --color-background-tertiary: #1f1f1f;
  --color-background-bright: #202020;
  --color-background-brightest: #2a2a2a;

  /* Foreground Colors */
  --color-foreground: #efefef;
  --color-foreground-dim: #cdcdcd;
  --color-foreground-muted: #a0a0a0;
  --color-foreground-faint: #7a7a7a;

  /* Border Colors */
  --color-border-default: #2b2b2b;
  --color-border-muted: #3a3a3a;

  /* Shadow Values */
  --shadow-soft: 0 1px 4px rgba(0, 0, 0, 0.2);
  --shadow-hard: 0 4px 12px rgba(0, 0, 0, 0.4);

  --color-primary: #9e76f5;
  --color-primary-bright: #b89eff;
  --color-primary-dim: #7a5ad1;
  --color-primary-bg: rgba(158, 118, 245, 0.1);
  --color-primary-border: rgba(158, 118, 245, 0.5);

  --color-rose: #f56078;
  --color-rose-bright: #ff8595;
  --color-rose-dim: #d34b64;
  --color-rose-bg: rgba(245, 96, 120, 0.1);
  --color-rose-border: rgba(245, 96, 120, 0.5);

  --color-yellow: #f5b720;
  --color-yellow-bright: #ffcf50;
  --color-yellow-dim: #d9a011;
  --color-yellow-bg: rgba(245, 183, 32, 0.1);
  --color-yellow-border: rgba(245, 183, 32, 0.5);

  --color-salmon: #f56d5a;
  --color-salmon-bright: #ff8c7c;
  --color-salmon-dim: #d65548;
  --color-salmon-bg: rgba(245, 109, 90, 0.1);
  --color-salmon-border: rgba(245, 109, 90, 0.5);

  --color-blue: #3588f5;
  --color-blue-bright: #5da4ff;
  --color-blue-dim: #2a6dd1;
  --color-blue-bg: rgba(53, 136, 245, 0.1);
  --color-blue-border: rgba(53, 136, 245, 0.5);

  --color-success: #4caf50;
  --color-success-dim: #3e8e41;
  --color-success-bg: rgba(76, 175, 80, 0.1);

  --color-error: #f44336;
  --color-error-dim: #d32f2f;
  --color-error-bg: rgba(244, 67, 54, 0.1);

  --color-warning: #ff9800;
  --color-warning-dim: #f57c00;
  --color-warning-bg: rgba(255, 152, 0, 0.1);

  --color-info: #2196f3;
  --color-info-dim: #1976d2;
  --color-info-bg: rgba(33, 150, 243, 0.1);

  /* Font Families */
  --font-atkinson: "Atkinson Hyperlegible", sans-serif;
  --font-averia: "Averia Serif Libre", serif;

  /* --animate-float: float 0.3s ease-out; */
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 0.8s ease-in-out both;
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
